<div class="col-xs-12">  
  <div class="jumbotron text-center">
    <h1>Hello, world!</h1>
  </div>
  <form class="addGroceryForm">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Add Item">
    </div>
    <div class="form-group">
      <a href="#/" class="btn btn-lg btn-block btn-success">
        <span class="glyphicon glyphicon-pushpin"></span>
        Save
      </a>
    </div>
    <div class="form-group">
      <a href="#/" class="btn btn-lg btn-block btn-default">
        <span class="glyphicon glyphicon-remove"></span>
        Cancel
      </a>
    </div>
  </form>
</div>