<div class="col-xs-12">	
	<a href="#/addItem" style="margin-bottom:10px" class="btn btn-lg btn-primary btn-block">
	  <span class="glyphicon glyphicon-plus"></span>
	  Add Grocery Item</a>
	<ul class="list-group">
	  <li ng-repeat="item in items | orderBy: '-date'" class="list-group-item text-center clearfix">
	    <button type="button" class="btn btn-sm btn-success pull-left">
	  	  <span class="glyphicon glyphicon-unchecked"></span>
	    </button>
	    <span style="font-weight:bold">{{ item.name | uppercase }}</span>
	    <button type="button" class="btn btn-sm btn-default pull-right">
	  	  <span class="glyphicon glyphicon-pencil"></span>
	    </button>
	  </li>	
	</ul>
</div>
